p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

/*------------------------------------------*/
/*-----  navigation and landing image  -----*/
/*------------------------------------------*/
.navbar-fixed {
  position: fixed;
}

nav {
  background-color: transparent;
  box-shadow: 0 0 0px white;
}

nav .brand-logo,
nav ul a {
  color: #000;
}

nav .sidenav-trigger i {
  color: #795548;
}

.scrolled-navbar {
  background-color: #ffffff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

#hera-image-area {
  height: 100vh;
  background-image: url('../images/hero.tiny.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sidenav {
  width: 50vw;
  background-color: rgba(255, 255, 255, 0.76);
}

/*---------------------------*/
/*-----  about section  -----*/
/*---------------------------*/
#aboutme-section {
  padding-top: 130px;
}

.about-img-bg {
  padding-bottom: 30px;
  border: 20px solid #b8a07e;
  max-width: 310px;
}

.about-img-bg img {
  width: 100%;
  box-shadow: 0px 0px 85px 0px rgba(0, 0, 0, 0.14);
  margin-top: -60px;
  margin-left: 40px;
  height: 435px;
  object-fit: cover;
}

#aboutme-section .material-icons {
  position: relative;
  top: 5px;
  left: 5px;
}

#aboutme-section a {
  color: #795548;
  font-weight: 200;
}

#aboutme-section a:hover {
  color: #795548;
  font-weight: 600;
}

/*----------------------------*/
/*-----  skills section  -----*/
/*----------------------------*/
#skills-section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.row .owl-item .col,
.icon-block {
  padding: 0px;
}

.icon-block .light {
  margin: 0px;
  font-size: 1.3rem;
}

/*------------------------------------*/
/*-----  parallex image section  -----*/
/*------------------------------------*/

.parallax-container {
  min-height: 50vh;
  line-height: 0;
  height: auto;
}

.parallax-container .section {
  width: 100%;
}

.parallax-container .parallax img {
  height: 100vh;
}

/*------------------------------*/
/*-----  projects section  -----*/
/*------------------------------*/

#projects-section {
  text-align: center;
  padding-top: 60px;
  margin-bottom: 100px;
}

.modal .modal-footer {
  text-align: center;
}

#projects-section ul {
  display: inline-block;
}

#projects-section .filter-active {
  color: #846052;
  font-weight: 800;
}

#projects-section ul li {
  margin: 0 40px 0 0;
  float: left;
  cursor: pointer;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.project-photo {
  height: 14vw;
  background-size: cover;
  background-position: top;
}

#property-dashboard {
  background-image: url(../images/projects/property-dashboard.tiny2.jpeg);
}

#project-tracker {
  background-image: url(../images/projects/project-tracker.tiny.png);
}

#brian-portfolio {
  background-image: url(../images/projects/brian-portfolio.tiny2.jpeg);
}

#lynch-engineers {
  background-image: url(../images/projects/lynch-engineers.tiny2.jpg);
}

#projects-section .col {
  padding: 0.75rem 0.75rem;
}

.modal {
  max-height: 80%
}

.modal.modal-fixed-footer {
  height: 80%;
}

.modal-content img {
  margin-bottom: 20px;
}

.chip {
  margin-bottom: 15px;
  margin-right: 15px
}

.modal .modal-footer .btn-flat {
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  margin: 6px 10px;
}

.modal .modal-footer .btn-flat:hover {
  background-color: #000000;
  color: #ffffff;
  transform: scale(1.1);
}

/*-----------------------------*/
/*-----  contact section  -----*/
/*-----------------------------*/
#contact-section {
  padding-top: 150px;
  padding-bottom: 150px;
  margin-bottom: 0px;
}

#contact-section .contact-form {
  background-color: white;
  border-radius: 5px;
  overflow: auto;
  padding: 20px;
}

.fab {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  background-color: #ffffff;
  color: #795548;
}

#email-social-media {
  padding-top: 40px;
}

.input-field .prefix.active,
.input-field>label:not(.label-icon).active,
input:not([type]):focus:not([readonly])+label,
input[type=text]:not(.browser-default):focus:not([readonly])+label,
input[type=email]:not(.browser-default):focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label {
  color: #b79f7d;
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #b79f7d;
  -webkit-box-shadow: 0 1px 0 0 #b79f7d;
  box-shadow: 0 1px 0 0 #b79f7d;
}

#my-email {
  font-family: monospace;
  font-style: oblique;
  font-size: 1.3rem;
}


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
  /*-----  general  -----*/
  h2 {
    font-size: 2.5rem;
  }
  /*-----  nav  -----*/
  #navbar .container {
    width: 100%;
  }
  /*-----  about  -----*/
  #aboutme-section {
    padding-top: 70px;
  }
  .about-img-bg {
    border: 16px solid #b8a07e;
    width: 50vw;
  }
  .about-img-bg img {
    height: 81vw;
    width: 50vw;
  }
  h5 {
    font-size: 1.3rem;
    font-weight: 700;
  }
  /*-----  skills  -----*/
  #skills-section {
    padding-top: 5px;
    padding-bottom: 20px;
  }
  /*-----  projects  -----*/
  #projects-section {
    padding-top: 0px;
  }
  .project-photo {
    height: 45vw;
  }
  #projects-section .col {
    padding: 0.75rem 0rem;
  }
  /*-----  contact  -----*/
  #contact-section .contact-form {
    padding: 0px;
  }
  #contact-section .input-field .prefix {
    width: 2rem;
    font-size: 1.5rem;
  }
  .input-field .prefix~input {
    width: calc(100% - 2rem);
  }
  .input-field .prefix~label {
    margin-left: 2rem;
  }
  .input-field.col .prefix~label,
  .input-field.col .prefix~.validate~label {
    width: calc(100% - 2rem - 1.5rem);
  }
  #contact-section .fab {
    padding: 10px;
  }
  #my-email {
    font-size: 1rem;
  }
}
