p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}



@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

/*------------------------------------------*/
/*-----  navigation and landing image  -----*/
/*------------------------------------------*/
.navbar-fixed {
  position: fixed;
}
nav {
  background-color: transparent;
  box-shadow: 0 0 0px white;
}
nav .brand-logo, nav ul a{
  color: #000;
}
.scrolled-navbar {
  background-color: #ffffff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
#hera-image-area {
  height: 100vh;
  background-image: url('../images/blank-business-clean-891679.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/*---------------------------*/
/*-----  about section  -----*/
/*---------------------------*/
#aboutme-section {
  padding-top: 130px;
}

.about-img-bg {
  padding-bottom: 30px;
  border: 20px solid #b8a07e;
  max-width: 310px;
}

.about-img-bg img {
  width: 100%;
  box-shadow: 0px 0px 85px 0px rgba(0, 0, 0, 0.14);
  margin-top: -60px;
  margin-left: 40px;
  height: 435px;
  object-fit: cover;
}

/*----------------------------*/
/*-----  skills section  -----*/
/*----------------------------*/
#skills-section {
  padding-top: 100px;
  padding-bottom: 100px;
}
.row .owl-item .col,
.icon-block {
  padding: 0px;
}
.icon-block .light {
  margin: 0px;
  font-size: 1.3rem;
}

/*------------------------------------*/
/*-----  parallex image section  -----*/
/*------------------------------------*/
.parallax-container {
  min-height: 50vh;
  line-height: 0;
  height: auto;
}

.parallax-container .section {
  width: 100%;
}
.parallax-container .parallax img{
  bottom: -176px;
}

/*------------------------------*/
/*-----  projects section  -----*/
/*------------------------------*/
#projects-section {
  text-align: center;
  padding-top: 60px;
  margin-bottom: 100px;
}
.modal .modal-footer {
  text-align: center;
}
#projects-section ul {
  display: inline-block;
}
#projects-section .filter-active {
    border-bottom: 2px solid;
    color: #846052;
    font-weight: 700;
}

#projects-section ul li {
  margin: 0 40px 0 0;
  float: left;
  cursor: pointer;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.project-photo {
  height: 14vw;
  background-size: cover;
  background-position: top;
}
#property-dashboard{background-image: url(../images/projects/property-dashboard.jpeg);}
#project-tracker{background-image: url(../images/projects/project-tracker.png);}
#brian-portfolio{background-image: url(../images/projects/brian-portfolio.jpeg);}
#lynch-engineers{background-image: url(../images/projects/lynch-engineers.jpg);}

#projects-section  .col {
      padding: 0.75rem 0.75rem;
}
.modal{
  max-height: 80%
}
.modal.modal-fixed-footer {
  height: 80%;
}
.modal-content img{
  margin-bottom: 20px;
}
.chip{
    margin-bottom: 15px;
    margin-right: 15px
}
.modal .modal-footer .btn-flat{
  background-color: #00000080;
  color: #ffffff;
  margin: 6px 10px; 
}
.modal .modal-footer .btn-flat:hover{
  background-color: #000000;
  color: #ffffff;
  transform: scale(1.1);
}


/*-----------------------------*/
/*-----  contact section  -----*/
/*-----------------------------*/
#contact-section {
  padding-top: 150px;
  padding-bottom: 150px;
    margin-bottom: 0px;
}

#contact-section .contact-form{
    background-color: white;
    border-radius: 5px;
    overflow: auto;
    padding: 20px;
}

.fab {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background-color: #ffffff
}

#email-social-media {
    padding-top: 40px;
}